Saved/Backup/
Saved/Autosaves/
Saved/Logs/
VarjoSample.sln
.vs/
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UE4CC-Windows-671C19054E0EE76526C994A893F2C98D/
Saved/Config/CrashReportClient/UE4CC-Windows-AB2BC24945DA714B25AA969970A61530/
Saved/Cooked/
Saved/Temp/
